body { 
    font-family: sans-serif;
    justify-content: center; 
    background-color: #34b8bd; 
}
.compras { 
    background: rgb(146, 68, 68);  
    border-radius: 15px; 
    width: 200px; 
    margin-top: 40px; 
}
.tarea:first-child {
    font-weight: bold;
    color: #499769;
}
.tarea:last-child {
    margin-bottom: 10px;
}
.tarea:hover {
    background-color:aqua;
    cursor: pointer;
}
.tarea:active {
    transform: scale(0.95);
}
.tarea:not(.importante) {
    color:blue;
}
