p{
    color: blue;
}
.destacado{
    color: crimson;
}
#contenedor-especial{
    background-color: blueviolet;
}
div p{
    font-style: oblique;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    color: chartreuse;
}